{% extends 'base.html' %}

{% block title %}Maktab CRM - Guruh ma'lumotlari{% endblock %}

{% block content %}
    <h1>Guruh ma'lumotlari</h1>
    <div class="group-details">
        <div class="group-info">
            <h2>{{ group.name }}</h2>
            <p>ID: {{ group.id }}</p>
            <p>O'quvchilar soni: {{ group.students.count }}</p>
            <p>Sinf rahbari: {{ group.teacher.first_name }} {{ group.teacher.last_name }}</p>
        </div>
        <div class="group-students">
            <h3>O'quvchilar ro'yxati</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ism</th>
                        <th>Familiya</th>
                        <th>Amallar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.full_name }}</td>
                            <td><a class="btn btn-info" href="{% url 'students:detail' student.id %}">Ko'rish</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="actions">
        <a href="{% url 'groups:update' group.id %}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
        <a href="{% url 'groups:delete' group.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
    </div>
{% endblock %}