{% extends 'base.html' %}

{% block title %}{% if group %}Maktab CRM - Guruh tahrirlash{% else %}Maktab CRM - Guruh yaratish{% endif %}{% endblock %}

{% block content %}
    <h1>{% if group %}Guruh tahrirlash{% else %}Guruh yaratish{% endif %}</h1>
    <form id="createGroupForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="groupName">Guruh nomi:</label>
            <input type="text" id="groupName" name="name" placeholder="Guruh nomini kiriting" required>
        </div>
        <div class="form-group">
            <label for="classTeacher">Sinf rahbari:</label>
            <select id="classTeacher" name="teacher" required>
                <option value="">Sinf rahbarini tanlang</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="students">O'quvchilar:</label>
            <select id="students" name="students" multiple required>
                {% for student in students %}
                    <option value="{{ student.id }}">
                        {{ student.full_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="actions">
            <button type="submit" class="btn"><i class="fas fa-save"></i> Saqlash</button>
            {% if group %}
                <a href="{% url 'groups:detail' group.id %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish</a>
            {% else %}
                <a href="{% url 'groups:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish</a>
            {% endif %}
        </div>
    </form>
{% endblock %}